.header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: var(--market-color-2);
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 999;
}

.header-center {
    display: flex;
    margin-left: auto;
}

.header-center > img {
    object-fit: contain;
    height: 40px;
}

.header-right {
    display: flex;
    margin-left: auto;
}

.header-right > div {
    background-color: var(--market-color-1);
    color: #ffff;
    font-weight: bold;
    margin-left: auto;
    padding: 10px 10px;
}

.header-right > div > span,
.header-right > div > img {
    vertical-align: middle;
}
