.footer {
    color: var(--market-color-2);
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    border-top: 0.1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
