.app {
    --market-color-1: #147594;
    --market-color-2: #1ea4ce;
    --market-background: #e5e5e5;
}

.app-body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
