.app {
    --market-color-1: #147594;
    --market-color-2: #1ea4ce;
    --market-background: #e5e5e5;
}

.app-body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.app-footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6f6f6f;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px 5px;
    margin-top: 10px;
}

.container {
    padding: 2px 16px;
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
}
